
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.7;

// Colors
$sky-blue: #75CFF3;
$blue: #30A4DC;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #F17921;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #fff;
$black: #000;

$primary: $orange;
$secondary: $sky-blue;
$background: $white;


// Material design form mixins
$mdc-theme-primary: $secondary;
$mdc-theme-secondary: $primary;
$mdc-checkbox-ink-color: $white;

.mdc-checkbox__checkmark {
  color: $white !important;
}